<div
  class="font-mono text-gray-600 p-4 bg-gray-100 w-min rounded-md"
  (wheel)="onWheel($event)"
>
  <h3 matTooltip="Scroll to change address">{{ label }}</h3>

  <div class="flex">
    <mat-form-field class="w-28 flex-grow">
      <mat-label>Address</mat-label>
      <input
        matInput
        type="number"
        value="0"
        min="0"
        [max]="maxAddress"
        [formControl]="addressForm"
      />
    </mat-form-field>
  </div>

  <div
    *ngFor="let _ of [].constructor(blockSize / wordsPerRow); index as row"
    class="flex gap-2"
  >
    <span class="text-gray-900">
      {{
        "0x" + toHex(getAddress(row, 0), math.ceil(math.log2(maxAddress) / 4))
      }}
    </span>
    <div
      class="relative cursor-alias"
      *ngFor="let _ of [].constructor(wordsPerRow); index as column"
      (mouseenter)="hoveredAddressChange.emit(getAddress(row, column))"
      (mouseleave)="hoveredAddressChange.emit(undefined)"
    >
      <div
        *ngIf="highlightBlue === getAddress(row, column)"
        class="bg-blue-500 highlightOverlay"
      ></div>
      <div
        *ngIf="highlightGreen === getAddress(row, column)"
        class="bg-green-500 highlightOverlay"
      ></div>

      {{ toHex(uint16Array[getAddress(row, column)]) }}
    </div>
  </div>
</div>
