<div class="grid main-grid min-h-screen" style="background-color: #25282c">
  <app-control-menu
    class="sm:col-span-2"
    [compiled]="sim.compiled"
    [running]="sim.running"
    (compile)="sim.compile()"
    (download)="sim.download()"
    (reset)="sim.reset()"
    (singleStep)="sim.singleStep()"
    (startStop)="sim.startStop()"
    (fullSpeedChange)="sim.fullSpeed = $event"
    (timeoutChange)="sim.timeout = $event"
  ></app-control-menu>

  <app-code-editor
    class="sm:row-span-2 sm:col-span-2 lg:col-span-1"
    [disabled]="sim.running"
    [compiled]="sim.compiled"
    [parserOutput]="sim.parserOutput"
    [(sourceCode)]="sim.sourceCode"
    [highlightBlue]="sim.simProp.adr"
    [highlightGreen]="sim.simProp.pc"
    [highlightPurple]="memoryViewerHoveredAddress"
    (hoveredAddressChange)="sourceCodeHoveredAddress = $event"
    (breakpointsChange)="sim.breakpoints = $event"
  ></app-code-editor>

  <app-terminal
    class="sm:col-span-2 lg:col-span-1 lg:row-start-4 border-t border-neutral-600 overflow-x-hidden"
    [outputEvent]="sim.outputEvent"
    [clearEvent]="sim.clearEvent"
    (input)="sim.input = $event"
  ></app-terminal>

  <app-cpu-status [simProp]="sim.simProp"></app-cpu-status>

  <div
    class="lg:row-span-2 flex flex-wrap justify-center border-t sm:border-l sm:border-t-0 lg:border-t lg:border-l-0 border-neutral-500"
  >
    <app-memory-viewer
      [uint16Array]="sim.simProp.memory"
      [blockSize]="64"
      [highlightBlue]="sim.simProp.adr"
      [highlightGreen]="sim.simProp.pc"
      [highlightPurple]="sourceCodeHoveredAddress"
      (hoveredAddressChange)="memoryViewerHoveredAddress = $event"
    ></app-memory-viewer>

    <app-memory-viewer
      [uint16Array]="sim.simProp.stack"
      [blockSize]="16"
      [wordsPerRow]="1"
      [maxAddress]="256"
      [label]="'Stack viewer'"
      [highlightBlue]="sim.simProp.stackPointer"
    ></app-memory-viewer>
  </div>
</div>
