<div
  class="grid h-screen"
  style="
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto auto;
  "
>
  <app-control-menu
    [wasCompiled]="wasCompiled"
    [running]="sim.running"
    (compile)="compile()"
    (reset)="sim.reset()"
    (singleStep)="sim.singleStep()"
    (startStop)="sim.startStop()"
    (fullSpeedChange)="sim.fullSpeed = $event"
    (timeoutChange)="sim.timeout = $event"
  ></app-control-menu>

  <app-code-editor
    class="col-start-1 row-span-2"
    [disabled]="sim.running"
    [compiled]="wasCompiled"
    [parserOutput]="parserOutput"
    [(sourceCode)]="sourceCode"
    (sourceCodeChange)="wasCompiled = false"
    [highlightBlue]="sim.simProp.adr"
    [highlightGreen]="sim.simProp.pc"
    [highlightPurple]="memoryViewerHoveredAddress"
    (hoveredAddressChange)="sourceCodeHoveredAddress = $event"
    (breakpointsChange)="sim.breakpoints = $event"
  ></app-code-editor>

  <app-cpu-status class="p-2" [simProp]="sim.simProp"></app-cpu-status>

  <div class="flex gap-2 p-2">
    <app-memory-viewer
      [uint16Array]="sim.simProp.memory"
      [blockSize]="64"
      [highlightBlue]="sim.simProp.adr"
      [highlightGreen]="sim.simProp.pc"
      [highlightPurple]="sourceCodeHoveredAddress"
      (hoveredAddressChange)="memoryViewerHoveredAddress = $event"
    ></app-memory-viewer>

    <app-memory-viewer
      [uint16Array]="sim.simProp.stack"
      [blockSize]="16"
      [wordsPerRow]="1"
      [maxAddress]="256"
      [label]="'Stack viewer'"
      [highlightBlue]="sim.simProp.stackPointer"
    ></app-memory-viewer>
  </div>

  <app-terminal
    class="h-80 col-span-2"
    [outputEvent]="sim.outputEvent"
    [clearEvent]="sim.clearEvent"
    (input)="sim.input = $event"
  ></app-terminal>
</div>
