@tailwind base;
@tailwind components;
@tailwind utilities;

@import "xterm/css/xterm.css";

.mdc-slider .mdc-slider__value-indicator-container {
  bottom: 0;
  top: 44px;
}

.mdc-slider .mdc-slider__value-indicator::before {
  bottom: 0;
  top: -5px;
  border-top: 0 !important;
  border-bottom: 6px solid;
  border-bottom-color: var(--mdc-slider-label-container-color, #666666);
}

$scroll-primary: #1d2021;
$scroll-secondary: #505354;

:root {
  color-scheme: dark;
}

/* Firefox */
app-terminal *,
app-code-editor * {
  scrollbar-width: thin;
  scrollbar-color: $scroll-secondary $scroll-primary;
}

/* Chrome, Edge, and Safari */
app-terminal *::-webkit-scrollbar,
app-code-editor *::-webkit-scrollbar {
  width: 12px;
}

app-terminal *::-webkit-scrollbar-track,
app-code-editor *::-webkit-scrollbar-track {
  background: $scroll-primary;
}

app-terminal *::-webkit-scrollbar-thumb,
app-code-editor *::-webkit-scrollbar-thumb {
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: $scroll-secondary;
}
