@tailwind base;
@tailwind components;
@tailwind utilities;

@import "xterm/css/xterm.css";

%accHighlight {
  position: absolute;
  z-index: 20;
  opacity: 40%;
}

.accHighlightBlue {
  @extend %accHighlight;
  @apply bg-blue-500;
}

.accHighlightGreen {
  @extend %accHighlight;
  @apply bg-green-500;
}

.accHighlightPurple {
  @extend %accHighlight;
  @apply bg-purple-500;
}
